@import '~antd/dist/antd.less';

// ----------------------------------------------------------------
// 滚动条
::-webkit-scrollbar {
	width: 6px;
	height: 10px;
	background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 1em;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #a8a8a8;
}
// ----------------------------------------------------------------
// 表格内按钮样式优化
.ant-table .ant-btn.ant-btn-link {
	padding-left: 0;
	padding-right: 0;
}
